{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Nos Ecrits</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- 	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}"> -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<header>
	
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
						
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="">|</a></li>
							<li><a href="">About</a></li>
							<li><a href="">|</a></li>
							<li><a href="">Contact</a></li>
						</ul>
					
				</div>
				<div class="col-md-4">
					<nav class="navbar-right">
					{% if user.is_authenticated %}
					<div class="dropdown">
						<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user " ></span>
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a href="{% url 'post_new' %}" class="">New post</a></li>
						<li role="presentation"><a href="{% url 'post_draft_list' %}" class="">Draft posts</a></li>
						
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a href="{% url 'logout' %}" class="">Logout</a></li>
						</ul>
						
					</div>
					{% endif %}
					</nav>
					
				</div>
			</div>
		</div>
	</div>
	<div class="logo">
		<h1> Nos ecrits</h1>
	</div>	
	<hr>
</header>



		
    
    
        

<div class="container">

	<section class="top-background">

	</section>

	<section class="content">
	<div class="row">
		<div class="col-md-8">
		{% block content %}
		
		{% endblock content %}
		</div>
		<div class="col-md-4">
			<aside class="">
				<div class="card">
					<h3>About us</h3>
					<div class="card-img">
						<img src="{% static 'img/me.jpg' %}" class="img-rounded">
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

				<div class="card">
					<h3>Recent Posts</h3>
					
					<div class="media">
						<a class="pull-left" href="#">
					    	<img src="{% static 'img/post-1.jpg' %}" class="media-object" width="100" height="100">
						</a>
						<div class="media-body">
							<h4 class="media-heading"><a href="">Title</a></h4>
					    	<date></date>
						</div>
					</div>
				</div>

				<div class="card">
					<h3>Follow us</h3>
					<ul class="list-inline">
					<li><a href=""><i class="fa fa-facebook"></i></a>
					<li><a href=""><i class="fa fa-twitter"></i></a></li>
					<li><a href=""><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
							
			</aside>
		</div>
	</div>
	</section>
</div>

<footer>

	<div class="footer-bottom">
		<ul class="list-inline">
							<li><a href=""><i class="fa fa-facebook"></i></a>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-instagram"></i></a></li>

						</ul>
	</div>
	<div class="footer-copyright">
		<p>Designed by: A.S | All right reserved @2017 <a href="{% url 'login' %}" class=""><span class="glyphicon glyphicon-lock"></span></a></p>
	</div>
	
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>